
.container {
    border: 1px solid blue;
    height: 850px
  }

  .background {
    position: absolute;
    background-color: #568cd2;
    height: 800px;
    width: 475px;
    top: 25px;
    left: 25px;
  }
  